main
{
    width: 80%;
    height: 1500px;
    margin-left: 10%;
    margin-top: 170px;
    background-color: #012b2b;
}
.menu1
{
    position: relative;
    width: 1065px;  
    height: 250px;
    float: right;
    background-image: url("../image/flores.png");
    background-size: cover;
}
.wordmark
{
    position: relative;
    width: 220;
    height: 65;
    left: 25;
    top: 50;
    cursor: pointer;
}

.link
{   
    position: relative; 
    color: white; 
    left: 320; 
    bottom: 75;
    cursor: pointer;
    width: 258px;
    height: 36px;
}
.link:hover
{
   transition: all 0.2s;
    color: gray; 
}
.navig1
{
    position: relative;
    left: 275;
    bottom: 100;
}
#h3
{
    position: relative;
    width: 180px;
    height: 42px;
    top: 165;
    right:100;
    cursor: pointer;
    color: white;
}
#h3:hover
{
    transition: all 0.2s;
    color: gray;
}
#h3:hover ~ .dropdown1
{
    visibility: visible;
}
.dropdown1
{
    position: relative;
    background-color: gray;
    width: 150px;
    height: 190px;
    text-decoration: none;
    top: 145;
    right: 50;
    border-radius: 5px;
    border: solid 1px white;
    cursor: pointer;
    visibility: hidden;
}
.dropdown1:hover
{
    visibility: visible;
}
#mods:hover ~ .gamemodes
{
    visibility: visible;
}
.dropdown1 a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown1 a:hover
{
    transition: all 0.5s;
    color: rgb(253, 188, 68);
    background-color: rgba(253, 253, 89, 0.39);
}
.gamemodes
{
    position: relative;
    background-color: gray;
    width: 150px;
    height: 190px;
    left: 150;
    bottom: 191;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px white;
    visibility: hidden;
}
.gamemodes:hover 
{
    visibility: visible;
}
#weapons:hover ~ .gadjets
{
    visibility: visible;
}
.gadjets
{
    position: relative;
    background-color: gray;
    width: 150px;
    height: 38px;
    left: 150;
    bottom: 231;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px white;
    visibility: hidden;
}
.gadjets:hover 
{
    visibility: visible;
}
#h31
{
    position: relative;
    margin-right: 50px;
    height: 40px;
    width: 130px;
    right: : 500;
    color: white;
}
#h31:hover
{
    transition: all 0.3s;
    color: gray;
}
#h31:hover ~ .dropdown2
{
    visibility: visible;
}
.dropdown2
{
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 266px;
    left: 130;
    bottom: 124;
    background-color: gray;
    border: solid 1px white;
    border-radius: 5px;
    visibility: hidden;
}
.dropdown2:hover
{
    visibility: visible;
}
.dropdown2 a
{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.dropdown2 a:hover
{
    transition: all 0.5s;
    color: rgb(253, 188, 68);
    background-color: rgba(253, 253, 89, 0.39);
}
#h32
{
    height: 40px;
    width: 149px;
    color: white;
}
#h32:hover
{
    transition: all 0.3s;
    color: gray;
}
#h32:hover ~ .dropdown3
{
    visibility: visible;
}
.dropdown3
{
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 190px;
    left: 300;
    bottom: 470;
    background-color: gray;
    border: solid 1px white;
    border-radius: 5px;
    visibility: hidden;
}
.dropdown3:hover
{
    visibility: visible;
}
.dropdown3 a
{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.dropdown3 a:hover
{
    transition: all 0.5s;
    color: rgb(253, 188, 68);
    background-color: rgba(253, 253, 89, 0.39);
}
#h33
{
    color: white;
}
#h33:hover
{
    transition: all 0.3s;
    color: gray;
}
.amount
{   
    position: relative;
    left: 450;
    bottom: 925;
    color: white;
    font-size: 32;
}
.pages
{
    position: relative;
    left: 327;
    bottom: 900;
    color: white;
    font-size: 28;
}
.createPage
{
    position: relative;
    width: 250px;
    height: 50px;
    left: 520;
    bottom: 955; 
    border: solid 1px white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.create
{
    position: relative;
    color: white;
    cursor: pointer;
    left: 20
}
#paper
{
    position: relative;
    right: 150;
    top: 10;
}
#welcome
{
    position: relative;
    top: 135;
    right: 797;
    width: 1067px;
    height: 700px;
    color: white;
    cursor: default;
}
#h1
{
    position: relative;
    right: 770;
    top: 355;
    font-size: 40;
    width: 200px;
    height: 70px;
    color: white;
    text-align: center;
}
.checkCode
{
    position: relative;
    width: 230px;
    height: 40px;
    right: 60;
    top: 55;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20;
    color: white;
    cursor: pointer;
    background-color: rgb(196, 148, 16);
    border-radius: 5px 0px 0px 5px;
}
.checkCode:hover
{
    transition: all 0.2s;
    background-color: rgb(135, 101, 7);
}
.code
{
    position: relative;
    width: 50px;
    height: 40px;
    left: 175;
    bottom: 85;
    cursor: pointer;
    background-color: rgb(196, 148, 16);
    border-radius: 0px 5px 5px 0px;
}
.code:hover
{
    transition: all 0.2s;
    background-color: rgb(135, 101, 7);

}
.code:hover > .dropdown4
{
    visibility: visible;
}
.dropdown4
{
    position: relative;
    width: 175px;
    height: 75px;
    top: 30;
    right: 125;
    border: solid 1px white;
    border-radius: 5px;
    background-color: gray; 
    visibility: hidden;
}
.dropdown4:hover
{
    visibility: visible;
}
.dropdown4 a
{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.dropdown4 a:hover
{
    transition: all 0.2s;
    color: rgb(253, 188, 68);
    background-color: rgba(253, 253, 89, 0.39);
}
.share
{
    position: relative;
    left: 75;
    width: 150px;
    height: 35px;
    background-color: gray;
    border: solid 1px white;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.share:hover
{
    transition: all 0.2s;
    background-color: #6b6868;
    color: darkgray;
}
.welcome
{
    position: relative;
    width: 950px;
    height: 300px;
    right: 750;
    top: 120;
    border: solid 3px yellow;
    cursor: default;
}